<navbar></navbar>

<header id="banner">
</header>

<div id="parent">
  <div class="container column border" ng-drop="true" ng-drop-success="onDropComplete($data,$event,'one')">
    <span class="label">BACKLOG</span>

          <div class="draggable" ng-repeat="obj in draggableObjects1" ng-drag="true" ng-drag-data="obj" data-allow-transform="true" ng-drag-success="onDragSuccess($data,$event,'one')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
           </div>

          <div class="draggable" ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-center-anchor="true" ng-drag-success="onDragSuccess($data,$event,'one')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
           </div>

  </div>
  <div class="container column border" ng-drop="true" ng-drop-success="onDropComplete($data,$event,'two')">
    <span class="label">READY</span>

           <div class="draggable" ng-repeat="obj in draggableObjects2" ng-drag="true" ng-drag-data="obj" data-allow-transform="true" ng-drag-success="onDragSuccess($data,$event,'two')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
            </div>

          <div class="draggable" ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess($data,$event,'two')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
          </div>

  </div>
  <div class="container column border" ng-drop="true" ng-drop-success="onDropComplete($data,$event,'three')">
    <span class="label">IN PROGRESS</span>
          <div class="draggable" ng-repeat="obj in draggableObjects3" ng-drag="true" ng-drag-data="obj" data-allow-transform="true" ng-drag-success="onDragSuccess($data,$event,'three')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
           </div>

          <div class="draggable" ng-repeat="obj in droppedObjects3" ng-drag="true" ng-drag-data="obj" ng-center-anchor="true" ng-drag-success="onDragSuccess($data,$event,'three')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
           </div>
  </div>
  <div class="container column" ng-drop="true" ng-drop-success="onDropComplete($data,$event,'four')">
   <span class="label">DONE</span>
         <div class="draggable" ng-repeat="obj in draggableObjects4" ng-drag="true" ng-drag-data="obj" data-allow-transform="true" ng-drag-success="onDragSuccess($data,$event,'four')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
           </div>

          <div class="draggable" ng-repeat="obj in droppedObjects4" ng-drag="true" ng-drag-data="obj" ng-center-anchor="true" ng-drag-success="onDragSuccess($data,$event,'four')">
            <img class="logo" src="{{obj.photo}}">
            <span>{{obj.name}}</span>
            </div>
  </div>
  </div>
</div>

